{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://www.facebook.com/samsor.rahman.77"><img src="{% static 'images/Facebook.svg' %}" alt="..."></a></li>
        <li><a href="https://www.instagram.com/samsor_rahman"><img src="{% static 'images/Instagram.svg' %}" alt="..."></a></li>
        <li><a href="https://twitter.com/samsor_rahman"><img src="{% static 'images/Twitter.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/samsor-rahman"><img src="{% static 'images/LinkedIn.svg' %}" alt="..."></a></li>
        <li><a href="https://github.com/samsorrahman"><img src="{% static 'images/github.svg' %}" alt="..."></a></li>
        
    </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="https://salmon-sand-067339700.2.azurestaticapps.net/" target="_blank">Samsor Rahman</a></p>
        </div>
    </div>
    </div>
</footer>




<!-- ================================
End Footer
================================= -->
